.tab_bord{
    background-color: white;
    width: 100%;
    margin: 50px 0px;
    padding-bottom: 1px;
}

.tab_bord h2{
    padding: 20px;
    text-align: center;
    font-family:'Inter', sans-serif;
}

h4{
    text-align: center;
    font-family:'Inter', sans-serif;
}

.top_produit, .repas, .electronique {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 50px;
}

.produit {
    display: flex;
    flex-direction: column;
    border: solid #FFE817;
    border-radius: 30px;
    width: 350px;
    text-align: center;
    font: 600 20px 'Inter', sans-serif;
    padding-bottom: 20px;
    gap: 15px;
}

.produit img{
    height: 200px;
    width: 250px;
    margin: auto;
}

.produit .ligne {
    border: 1px solid #FFE817;
    background-color: #FFE817;
    height: 1px;
    align-items: center;
    margin: 0 20px 20px;
}

.produit .description {
    color: #000;
    text-align: justify; /* Ajustement du texte */
    align-self: center;
    margin: 0px 10px;
    font: 600 20px 'Inter', sans-serif;
    flex-grow: 1;
}

.panier{
    justify-content: center;
    padding-bottom: -3px;
}



button {
    font-family: 'Inter', sans-serif;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #fff;
    padding: 5px 20px;
}

/*background*/
body {
    background-image: url('../Images/background_cesi.jpg');
    background-attachment: fixed;
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Couleur de fond semi-transparente */
    z-index: -1;
}

@media screen and (max-width: 1200px) {
    .top_produit, .repas, .electronique {
        flex-direction: column;
        align-items: center;
    }
}
