/* Gestion du burger menu*/
nav li {
    list-style: none;
}

nav a, nav a:visited{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

/**/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Inter', sans-serif;
    font-size: large;
}

nav ul {
    position: absolute;
    left: 33%;
    display: flex;
    justify-content: space-between;
    width:30%;
}

header button {
    cursor: pointer;
    position: relative;
    left: 10px;
    display: none;
}

@media (max-width: 1200px) {
    header button{
        display: block;
    }

    nav ul{
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        text-align: center;
        transition: 1s;
    }

    nav li{
        padding: 3px 0;
    }

    nav li:hover{
        background-color: #efe9b6;
    }

    nav.active ul{
        left: 33%;
    }
}

/* fin de la gestion */

body{
    width: 100%;
}

header, footer {
    background-color: #FFE817;
    height: 144px;
    width: 100%;
}

.logo_header img{
    width: 131px;
    height: 77px;
    position: absolute;
    top: 40px;
    left: 70px;
}

.utilisateur .user{
    position: absolute;
    right: 70px;
    top: 60px;
    color: black;
}

.utilisateur P{
    padding: 30px;
    position: absolute;
    top: 25px;
    right: 75px;
    color: black;
}

header button{
    background-color: #FFE817;
    padding: 10px;
    border-radius: 10px;
}

.menu{
    position: absolute;
    top: -2px;
    left: -40px;
    padding: 5px;
}

header button:hover ~ .popup{
    transform: translateX(200px);

}

footer{
    height: auto;
    position: relative;
}

footer img{
    position: absolute;
    width: 131px;
    height: 77px;
    bottom: 35px;
    left: 70px;
}

.row{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h5{
    margin-bottom: -1px;
    text-align: center;
    font-size: 1.5em;
}

footer a{
    margin: 5px;
}



@media screen and (max-width: 1200px) {
    .utilisateur .user{
        position: absolute;
        right: 20px;
    }
    .utilisateur p{
        position: absolute;
        right: 25px;
    }
}
